<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-4">Hello</h1>
    <p class="lead">Everyone says we have the best plants in the country.  Your garden will look nice. Order from us <br>
    and people will see your plants and be like ,that is a fine garden, look at the tulips on that. </p>
  </div>
</div>

<div class="jumbotron-one jumbotron-fluid">
  <section id="contact">
    <div class="container">
      <a id="contact"></a>
      <br>
      <h2 id="Contact" class="text-center text-uppercase">Contact Us</h2>
      <div class="row">
        <form class="form" action="https://formspree.io/yjcrouse@gmail.com" method="POST">
          <div class="control-group">
            <div class="form-group">
              <label class="label"></label>
              <input type="text" class="form-control" placeholder="Your Name" id="name" required
                data-validation-required-message="Please enter your name" name="name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <label class="label"></label>
              <input type="email" class="form-control" placeholder="Your Email" id="email" required
                data-validation-required-message="Please enter your email" name="_replyto">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <textarea class="form-control" rows="7" placeholder="Your Message" id="message" required
                data-validation-required-message="Please leave a message" name="message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="text-center">
            <div id="success"></div>
            <button type="submit" class="btn btn-lg btn-black">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>