<nav class="navbar navbar-default" role="navigation" bs-navbar>
    <ul class="nav navbar-nav">
      <li data-match-route="/$"><a routerLink="/home">Garden Store</a></li>
      <li data-match-route="/page-one"><a routerLink="/products">Products</a></li>
      <li data-match-route="/page-two.*"><a routerLink="/about">About</a></li>
      <!-- <li class="nav navbar-admin" data-match-route="/auth"><button class="btn btn-lg btn-outline-primary" (click)="open()" href="#/page-two/sub-a">Admin</button></li> -->
    </ul>
</nav>

<!-- display/plant.component -->