<div class="container plant-display">

  <h1>Our Products</h1>
  
    <pagination-controls class="pagination" (pageChange)="p=$event"></pagination-controls>

    <div class="plant-grid-container">
      <div *ngFor="let plant of plants | paginate: { itemsPerPage: 20, currentPage: p }" class="card">
        <div id={{plant.id}}>
          <h1>{{plant.product_name}}</h1>
          <img src={{plant.product_image}} alt={{plant.product_name}} >
          <p>{{plant.product_description}}</p>
          <span>${{plant.product_price}}</span>
          <span (ng-click)="removePlant(plant.id)">🗑️</span>
        </div>
      </div>
    </div>
      
    <pagination-controls class="pagination" (pageChange)="p =$event"></pagination-controls>

</div>