<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body class='body'>

  <div class='title'>
    <h1>Garden Store</h1>
    <h3>Est. 1963</h3>
  </div>

  <div class='card'>
    <div class='container'>
      <p>We are a family run store with years of experience in garden products and services. We specialize in all types of plants, tools, and accessories related to your gardening needs. Founded in 1963 by John Doe, we strive to maintain the excellent customer service practices implemented from our humble beginnings.</p>
    </div>
  </div>

</body>
</html>
